.cart-item {
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: center;
	margin: 0.5rem 0;
	border-bottom: 2px solid aqua;
	padding-bottom: 0.5rem;
}
.cart-item img {
	width: 20%;
	margin-right: 10px;
}
.amount-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin: 0 0.5rem;
}

.button-container {
	display: flex;
	align-items: center;
}
.button-container button {
	height: 50%;
	margin: 0 0.5rem;
}
.name-text,
.price-text {
	margin-right: 0.5rem;
}
.price-text {
	font-size: 1.2rem;
	color: red;
}
i {
	pointer-events: none;
}
@media only screen and (max-width: 425px) {
	.cart-item {
		width: 90%;
	}
}
@media only screen and (max-height: 425px) {
	.cart-item {
		width: 65%;
	}
}
@media only screen and (min-width: 426px) and (min-height: 1024px) and (max-width: 768px) {
	.cart-item {
		width: 90%;
	}
	.cart-item * {
		font-size: 1.6rem;
	}
}
@media only screen and (min-height: 426px) and (min-width: 1024px) and (max-height: 768px) {
	.cart-item {
		width: 90%;
	}
	.cart-item * {
		font-size: 1.6rem;
	}
}
@media only screen and (min-width: 769px) and (min-height: 1366px) and (max-width: 1024px) {
	.cart-item {
		width: 90%;
	}
	.cart-item * {
		font-size: 1.6rem;
	}
}
@media only screen and (min-height: 769px) and (min-width: 1366px) and (max-height: 1024px) {
	.cart-item {
		width: 90%;
	}
	.cart-item * {
		font-size: 1.6rem;
	}
}
