nav {
	width: 100%;
	display: flex;
	padding: 0.5rem 0;
	background: chartreuse;
}
nav a {
	margin: 0 1rem;
	border: 1px solid black;
	padding: 5px;
	text-decoration: none;
	color: aqua;
	background: gray;
	width: 80px;
	display: flex;
	justify-content: center;
}
nav a:hover {
	background: #666;
}
nav a:active {
	background: #444;
}
